page-items {
    *{
        // border: 1px solid red !important;
    }
    // border: 1px solid red;
    header{
        
    }
    ion-content{
        .no-products{
            // border: 1px solid red;
            width: 70%;
            margin: 0 auto;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            .text-no-products{
                // border: 1px solid red;
                line-height: 30px;
                text-align: center;
                color: grey;
            }
        }
        // .ifThereIsContent{
            ion-segment{
                // border: 1px solid red !important;
                margin-bottom: 6px;
                ion-segment-button{
                    // border: 1px solid red !important;
                    ion-label{
                        // border: 1px solid red !important;
                        margin: 0 !important;
                        font-size: 12px !important;
                        
                    }
                }
            }
        // }
        // border: 1px solid red;
        // border: 1px solid red;
        ion-list{
            // border: 3px solid red;
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            ion-item{
                position: relative !important;
                // border: 300px solid blue !important;
                display: block !important;
                width: calc(33% - 4px) !important;
                border: 1px solid grey !important;
                border-radius: 5px !important;
                margin: 2px !important;
                padding: 2px !important;
                ion-checkbox{
                    //    border: 1px solid red;
                    z-index: 999 !important;
                    position: absolute !important;
                    top: 0 !important;
                    left: 0 !important;
                }
                .item-inner{
                    padding: 0 !important;
                    
                    border-bottom: none !important;
                    .input-wrapper{
                        ion-label{
                            margin: 0 !important;
                        }
                    }
                }
                // height: 100px !important;
                // border: 2px solid blue !important;
            }
        }
    }
    
    .delete-all{
        height: 50px;
        width: 100vw;
        background-color: grey;
        position: absolute;
        top: 0;
        z-index: 999;
        border-radius: 3px;
        background-color: #f64645;
        color: white;
        p{
            // border: 1px solid white;
            text-align: center;
        }
    }
}

