page-items {
    *{
        // border: 1px solid blue !important;
    }
    // border: 1px solid red;
    header{
        
    }
    ion-content{
        // border: 1px solid red;
        // border: 1px solid red;
        ion-list{
            // border: 3px solid red;
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            ion-item{
                position: relative !important;
                // border: 1px solid blue !important;
                display: block !important;
                width: 48% !important;
                border: 1px solid grey !important;
                border-radius: 5px !important;
                margin: 2px !important;
                padding: 1px !important;
                ion-checkbox{
                    //    border: 1px solid red;
                    z-index: 999 !important;
                    position: absolute !important;
                    top: 0 !important;
                    left: 0 !important;
                }
                .item-inner{
                    padding: 0 !important;
                    
                    border-bottom: none !important;
                    .input-wrapper{
                        ion-label{
                            margin: 0 !important;
                        }
                    }
                }
                // height: 100px !important;
                // border: 2px solid blue !important;
            }
        }
    }
    ion-fab{
        display: flex;
        flex-direction: row;
        align-items: center;
        &.increaseSize{
            width: 70vw !important;
        }
        button.increaseSize{
            width: 70vw !important;
            border-radius: 30px;
            ion-icon{
                &.increaseSize{
                    display: inherit !important;
                    margin-left: 10px !important;
                }
                span{
                    &.increaseSize{
                        width: 22px !important;
                    }
                }
            }
        }
    }
}
