page-items {
    *{
        // border: 1px solid red !important;
    }
    // border: 1px solid red;
    header{
        
    }
    ion-content{
        .no-products{
            // border: 1px solid red;
            width: 70%;
            margin: 0 auto;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            .text-no-products{
                // border: 1px solid red;
                line-height: 30px;
                text-align: center;
                color: grey;
            }
        }
        
        .segmentOptions{
            margin-bottom: 6px;
            padding: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ccc8c8;
            border-top: 1px solid #ccc8c8;
            ion-segment-button{
                border: none !important;
                background-color: transparent !important;
                border-radius: inherit !important;
                
                ion-label{
                    margin: 0 !important;
                    font-size: 12px !important;
                }
            }
            .segment-button:hover:not(.segment-activated) {
                border-bottom: 1px solid orange !important;
                width: 30px !important;
            }
        }
        ion-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            
            ion-item{
                position: relative !important;
                display: block !important;
                width: calc(33% - 4px) !important;
                box-shadow: 0px 0px 17px -1px #a7a2a2;
                border-radius: 5px !important;
                margin: 2px !important;
                padding: 2px !important;
                ion-checkbox{
                    z-index: 999 !important;
                    position: absolute !important;
                    top: 0 !important;
                    left: 0 !important;
                }
                .item-inner{
                    padding: 0 !important;
                    
                    border-bottom: none !important;
                    .input-wrapper{
                        ion-label{
                            margin: 0 !important;
                        }
                    }
                }
                // height: 100px !important;
                // border: 2px solid blue !important;
            }
        }
    }
    
    .delete-all{
        height: 50px;
        width: 100vw;
        background-color: grey;
        position: absolute;
        top: 0;
        z-index: 999;
        border-radius: 3px;
        background-color: #f64645;
        color: white;
        p{
            // border: 1px solid white;
            text-align: center;
        }
    }
}

