page-login {

    *{
        color: white !important;
        font-weight: 200;
    }
    ion-content{
        background-image: url('./../assets/imgs/bg.jpeg') !important;
        background-size: cover;
        position: fixed;
    }
    .form{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        
        ion-item:not(.container-checkbox){
            border: none !important;
            background-color: transparent !important;
            
            .item-inner{
                border: none !important;
                border-bottom: .1px solid white !important;
            }
        }
        ion-item.container-checkbox{
            border: none !important;
            background-color: transparent !important;
            
            .item-inner{
                border: none !important;
                border-bottom: none !important;
                .input-wrapper{
                    .label{
                        font-size: 13px;
                    }
                }
            }
        }
        ion-icon{
            padding-right: 10px;
            font-size: 30px;
        }
    }
    .button{
        margin: 0 auto;
        display: block;
        width: 70%;
        height: 40px;
        border: 1px solid white;
    }
    .center{
        text-align: center;
        display: block;
        margin-top: 5px;
    }

    .wrapper{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        span{
            margin-bottom: 5px;
        }
    }

    
    .container-checkbox > ion-label{
        font-size: 10px !important;
    }
    
    
}


// border-bottom: 0.55px solid #c8c7cc;

