
<ion-header>
  
  <ion-navbar>
    <div class="flex" right>
      <!-- PONGO QUE SEA IGUAL AL ID O AL USER YA QUE DESDE MODAL CHOSE 
        CATEGORY AL CREARLO Y ASIGNARLE LO RETORNADO AL THIS.PRODUCTCHOSEN, EL POPULATE NO SE LLEVA A CABO YA QUE SOLO SE HACE 
        EN EL FIND() DEL BACK, POR LO QUE NO HAY ID EN OWNER AUN -->
        <ion-icon *ngIf="(productToShow.owner?.id !== this.user?.id) || (productToShow.owner !== this.user?.id)" class="like" (click)="addOrRemoveLikeToThisProduct()" [name]="likingIcon"></ion-icon>
        <ion-icon class="share" name="share-outline"></ion-icon>
      </div>
    </ion-navbar>
    
  </ion-header>
  
  <ion-content padding>
    <div class="wrapper" *ngIf="productToShow">
      <div class="imgWrapper">
        <ion-slides pager="true" options="{efect: 'flip'}">
          <ion-slide *ngFor="let photo of productToShow.photos">
            <img [src]="photo" alt="image">
          </ion-slide>
        </ion-slides>
        <div class="counterWrapper">
          <ion-icon class="likeSmall" name="heart-outline" *ngIf="(productToShow.owner?.id === this.user?.id) || (productToShow.owner === this.user?.id)">
            <span class="counter">{{productCounterLikes}}</span>
          </ion-icon>
        </div>
      </div>
      <div class="info">
        <h2 class="price">
          {{productToShow.price}} €
        </h2>
        <h4 class="title">
          {{productToShow.name | titlecase}}
        </h4>
        <p class="summary">
          {{productToShow.description | titlecase}}
        </p>
      </div>
    </div>
  </ion-content>
  