*{
    // border: 1px solid red;
}
page-product-detail {
    ion-header{
        ion-navbar{
            .toolbar-background {
                border: none !important;
                background: none;
            }
            .flex{
                // border: 1px solid red;
                display: flex;
                flex-direction: row;
                text-align: right;
                display: block;
                margin-right: 30px;
                .like{
                    color: orange;
                    font-weight: bolder;
                    // border: 1px solid red;
                    font-size: 27px;
                    border-color: black !important;
                }
                .share{
                    color: orange;
                    font-weight: bolder;
                    margin-left: 30px;
                    font-size: 27px;
                }
            }
        }
    }
    
    ion-content{
        .wrapper{
            .imgWrapper{
                position: relative;
                // border: 1px solid blue !important;
                ion-slides{
                    ion-slide{
                        img{
                            // height: 300px;
                        }
                    }
                }
                img{
                    border-radius: 10px;
                    display: block;
                    margin: 0 auto;
                    width: 90vw;
                }
            }
            .rentOrBuyTag{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999;
                background-color: orange;
                border-radius: 100px;
                padding:0 20px;
                margin: 8px 8px 0 0;
                // margin: 0;
                p{
                    color: white;
                    font-weight: bolder;
                    margin: 3px 0;
                }
            }
            .imgUser{
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 999;
                margin-right: 3px;
                img{
                    width: 40px;
                    border-radius: 50%;
                }
            }
            
            .info{
                
                .priceAndLikesWrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .price{
                        margin-top: 10px;
                        font-weight: bolder;
                        font-size: 20px;
                        // border: 1px solid red;
                    } 
                    .likeSmall{
                        color: orange;
                        font-weight: bolder;
                        font-size: 19px;
                        // border: 1px solid blue;
                        .counter{
                            font-size: 17px;
                        }
                    }
                }
                .title{
                    margin: 0;
                    font-weight: 300;
                    // border: 1px solid red;
                }
                
                .summary{
                    font-size: 12px;
                }
            }
        }
    }
    .chat{
        background-color: orange;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        h4{
            z-index: 9999;
        }
    }
}
