modal-choose-category{
    overflow-y: scroll;
    
    .modalChooseProduct, .modalProductChosen{
        background-color: white;
        border-radius: 10px;
        .top{
            // border: 1px solid red;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            .close{
                // border: 1px solid red;
                cursor: pointer;
                margin-left: 10px;
                ion-icon{
                    font-size: 20px;
                }
            }
            h6{
                // border: 1px solid red;
                margin: 0 auto;
                height: 30px;;
                text-align: center;
                font-weight: 300;
                ion-icon{
                    // border: 1px solid red;
                    font-size: 13px;
                }
                .strong{
                    font-weight: 400;
                }
            }
        }
        .bottom{
            // border: 1px solid red;
            margin-top: 40px;
            height: 90vh;
            ion-row{
                // border: 1px solid red;
                margin-bottom: 30px;
                ion-col{
                    padding: 40px;
                    width: 53%;
                    // border: 1px solid red;
                    ion-icon{
                        // border: 1px solid red;
                        text-align: center;
                        display: block;
                        font-size: 44px;
                    }
                    span{
                        // border: 1px solid red;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
    
    .modalProductChosen{
        .bottom{
            margin-top: 7px;
            .imagesWrapper{
                margin: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                ion-icon{
                    width: calc(20% - 6px);
                    text-align: center;
                    font-size: 40px;
                    padding: 4px;
                    border: 1px solid #dadae0;
                    color: #dadae0;
                    margin: 3px;
                    border-radius: 20px;
                }
            }
            
        }
    }
    
}
