  <div class="modal" [ngClass]="{'opacity03': turnOpacity}">
    <div class="top">
      <div class="close">
        <ion-icon name="close" (click)="closeModal()"></ion-icon>
      </div>
      <h6>{{ 'CHOOSE_CATEGORY' | translate}} 
        <ion-icon name="arrow-down"></ion-icon>   <!-- para poder usar icons en componentes se importa ionicmodule en components ??? -->
      </h6>
    </div>
    <div class="bottom">

      <ion-row>
        <ion-col>
          <ion-icon name="ios-home-outline"></ion-icon>
          <span>{{'REAL_STATE' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-car-outline"></ion-icon>
          <span>{{'CARS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-game-controller-b-outline"></ion-icon>
          <span>{{'GAMING' | translate }}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="bicycle"></ion-icon>
          <span>{{'CYCLING' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-american-football-outline"></ion-icon>
          <span>{{'SPORTS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-phone-portrait-outline"></ion-icon>
          <span>{{'PHONES' | translate }}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="ios-shirt-outline"></ion-icon>
          <span>{{'CLOTHING' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-boat-outline"></ion-icon>
          <span>{{'BOATS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-boat-outline"></ion-icon>
          <span>{{'BOATS' | translate }}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="ios-home-outline"></ion-icon>
          <span>{{'REAL_STATE' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-car-outline"></ion-icon>
          <span>{{'CARS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-game-controller-b-outline"></ion-icon>
          <span>{{'GAMING' | translate }}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="bicycle"></ion-icon>
          <span>{{'CYCLING' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-american-football-outline"></ion-icon>
          <span>{{'SPORTS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-phone-portrait-outline"></ion-icon>
          <span>{{'PHONES' | translate }}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="ios-shirt-outline"></ion-icon>
          <span>{{'CLOTHING' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-boat-outline"></ion-icon>
          <span>{{'BOATS' | translate }}</span>
        </ion-col>
        <ion-col>
          <ion-icon name="ios-boat-outline"></ion-icon>
          <span>{{'BOATS' | translate }}</span>
        </ion-col>
      </ion-row>
      



    </div>
  </div>
