<!-- CHOOSE PRODUCT -->
<div *ngIf="!isProductChosen" class="modalChooseProduct">
  <div class="top">
    <div class="close">
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
    </div>
    <h6 (click)="closeModal()">{{ MODALTITLE | translate}} 
      <ion-icon name="arrow-down"></ion-icon>   <!-- para poder usar icons en componentes se importa ionicmodule en components ??? -->
    </h6>
  </div>
  <div class="bottom">
    <ion-row>
      <ion-col *ngFor="let category of categories">
        <ion-icon [name]="category.icon" (click)="chooseProduct(category)"></ion-icon>
        <span>{{category.name | translate }}</span>
      </ion-col>
    </ion-row>
  </div>
</div>


<!-- PRODUCT CHOSEN -->
<div *ngIf="isProductChosen" class="modalProductChosen">
  <div class="top">
    <div class="close">
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
    </div>
    <h6 (click)="chooseAgain()">{{ MODALTITLE | translate}} <span class="strong">{{ productChosen.name }}</span>
      <ion-icon name="arrow-down"></ion-icon>   <!-- para poder usar icons en componentes se importa ionicmodule en components ??? -->
    </h6>
  </div>
  <section class="bottom">
    <div class="imagesWrapper">
      <!-- {{ image }} -->
        <ion-icon *ngFor="let image of imagesToUpload" [name]="image"></ion-icon>
    </div>
  </section>
</div>