modal-choose-category{
    overflow-y: scroll;
    .modalChooseProduct, .modalProductChosen{
        background-color: white;
        border-radius: 10px;
        .top{
            margin-top: 20px;
            display: flex;
            flex-direction: row-reverse;
            .close{
                cursor: pointer;
                margin-left: 10px;
                ion-icon{
                    font-size: 30px;
                }
            }
            h6{
                margin: 5px auto 0 auto;
                height: 30px;;
                text-align: center;
                font-weight: 300;
                ion-icon{
                    font-size: 13px;
                }
                .strong{
                    font-weight: 400;
                }
            }
        }
        .bottom{
            margin-top: 40px;
            height: 90vh;
            ion-row{
                margin-bottom: 30px;
                ion-col{
                    padding: 40px;
                    width: 53%;
                    ion-icon{
                        text-align: center;
                        display: block;
                        font-size: 44px;
                    }
                    span{
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
    
    .modalProductChosen{
        .bottom{
            .imagesContainer{
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                img{
                    margin: 3px;
                    border: 1px solid #bfbfbf;
                    padding: 3px;
                    height: 50px;
                    border-radius: 5px;
                }
            }
            .imagesContainer.increaseDivWtapper{
                height: 130px;
                overflow-y: scroll;
            }
            margin-top: 7px;
            .mainWrapper{
                .myForm{
                    ion-list{
                        ion-item{
                            border: none;
                            .item-inner{
                                border: none;
                                border-bottom: 1px solid rgb(219, 219, 219);
                                width: 90%;
                                margin-right: 20px;
                            }
                            ion-label{
                                color: grey !important;
                                font-size: 15px;
                                font-weight: 300;
                            }
                        }
                        .rentOrBuy{
                            // border: 1px solid red !important;

                            button{
                                display: none !important;
                                // border: 1px solid red !important;
                            }
                        }
                        button{
                            width: 80%;
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-radius: 50px;
                            height: 40px;
                            background-color: #12d684;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .upload{
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            fileuploader{
                ion-icon{
                    font-size: 70px;
                }
            }
        }
    }
}

