<!-- HEADER -->
<ion-header>
  <ion-navbar>
    <!-- MENU TOGGLE -->
    <ion-buttons start class="burger">
      <button ion-button icon-only menuToggle (click)="menuClick($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- SEARCH BAR -->
    <div class="flex">
      <ion-searchbar (click)="searchingProduct(pattern)" [(ngModel)]="pattern"></ion-searchbar>
    </div>
  </ion-navbar>
</ion-header>
<!-- ION CONTENT -->
<ion-content>
  <!-- REFRESHER -->
  <ion-refresher pullMin="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>  
  <!-- TOP PART -->
  <div class="fixedTop">
    <!-- SEARCH IN... -->
    <div class="searchIn">
      <div>
        <h6>{{ 'SEARCH_IN' | translate }}</h6>
      </div>
      <div>
        <span>{{ 'SEE_ALL' | translate }}
          <!-- <ion-icon name="arrow-forward"></ion-icon> -->
        </span>
      </div>
    </div>
    <!-- SEARCH BY ICON -->
    <div class="listOfProductsToChooseFrom">
      <div *ngFor="let category of categories">
        <ion-icon [name]="category.icon" (click)="chooseProduct(category)"></ion-icon>
        <span>{{category.name | translate }}</span>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT -->
  <div class="productsList">
    <ion-row>
      <!-- LEFT COLUMN -->
      <ion-col>
        <div class="product" *ngFor="let product of productColumn1">
          <div class="container" [style]="product.randomHeight" [ngClass]="{'increasesizeContainer': product.opacity}">
            <img [src]="product.photos[0]" (click)="productDetail(product)" alt="image" [ngClass]="{'opacity03': product.opacity}">
            <div class="infoWrapper">
              <h6 class="price">{{ product.price }} €</h6>
              <span class="name">{{ product.name | titlecase}}</span>
            </div>
            <!-- IF CLICKED -->
            <div class="showHiddenContent" *ngIf="product.opacity">
              <div class="imagesGallery">
                <img [src]="image" alt="image" *ngFor="let image of product.photos">
              </div>
              <small class="description">{{product.description}}</small>
              <ion-icon [name]="product.icon"></ion-icon>
              <h4 class="goToProduct">Ir a producto</h4>
            </div>
            <!-- FIN IF CLICKED -->
          </div>
        </div>
      </ion-col>
      <!-- RIGHT COLUMN -->
      <ion-col>
        <div class="product" *ngFor="let product of productColumn2">
          <div class="container" [style]="product.randomHeight" [ngClass]="{'increasesizeContainer': product.opacity}">
            <img [src]="product.photos[0]" (click)="productDetail(product)" alt="image" [ngClass]="{'opacity03': product.opacity}">
            <div class="infoWrapper">
              <h6 class="price">{{ product.price }} €</h6>
              <span class="name">{{ product.name | titlecase}}</span>
            </div>
            <!-- IF CLICKED -->
            <div class="showHiddenContent" *ngIf="product.opacity">
              <div class="imagesGallery">
                <img [src]="image" alt="image" *ngFor="let image of product.photos">
              </div>
              <small class="description">{{product.description}}</small>
              <ion-icon [name]="product.icon"></ion-icon>
              <h4 class="goToProduct">Ir a producto</h4>
            </div>
            <!-- FIN IF CLICKED -->
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>