// VERSION DIV (web/mobile)
.version{
    font-size: 12px;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.userAgent{
    font-size: 12px;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.error-container{
    font-size: .7em !important;
    text-align: left;
    margin-left: 16px;
    .error-item{
        color: red !important;
        font-weight: bold;
    }
}

// Error colors on inputs white on login and register and red somewhere else
page-login, page-register{
    .error-container{
        font-size: .9em;
        text-align: left;
        margin-left: 16px;
        .error-item{
            color: white !important;
        }
    }
}

ion-input.item-form-control{
    &.has-error{
        // border-bottom: 1px solid red;
    }
    &.has-success{
        // border-bottom: 1px solid green !important;
    }
}

ion-footer{
    display: flex;
    height: 50px;
    margin-bottom: 5px;
    ion-segment{
        display: flex;
        flex-direction: column;
        ion-icon{
            font-size: 35px;
        }
        span{
            font-size: 9.2px;
            font-weight: bold;
        }
    }
    
    
}