// VERSION DIV (web/mobile)
.version{
    border: 1px solid white;
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    margin: 5px;
}


.userAgent{
    border: 1px solid white;
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    margin: 5px;
}

.error-container{
    font-size: .7em !important;
    text-align: left;
    margin-left: 16px;
    .error-item{
        color: red !important;
        font-weight: bold;
    }
}

// Error colors on inputs white on login and register and red somewhere else
page-login, page-register{
    .error-container{
        font-size: .9em;
        text-align: left;
        margin-left: 16px;
        .error-item{
            color: white !important;
        }
    }
}

ion-input.item-form-control{
    &.has-error{
        // border-bottom: 1px solid red;
    }
    &.has-success{
        // border-bottom: 1px solid green !important;
    }
}