header {
    *{
        color: red !important;
        // border: 1px solid red !important;
    }
    ion-header{
        overflow: auto;
        border: 1px solid blue;
        padding: 6px;
        min-height: 100px !important;
        position: absolute;
        height: 100px !important;
        ion-navbar{
            overflow: auto;
            border: 1px solid orange;
            padding: 6px;
            min-height: 100px !important;
            position: absolute;
            height: 100px !important;
            .toolbar-background{
                overflow: auto;
                padding: 6px;
               
                border: 1px solid green;
                min-height: 100px !important;
                position: absolute;
                height: 100px !important;
            }
            button{
                overflow: auto;
                padding: 6px;

                border: 1px solid black;
                min-height: 100px !important;
                position: absolute;
                height: 100px !important;
            }
        }
    }
}
